FLASK_APP=run.py
FLASK_CONFIG=dev
SECRET_KEY=changez-moi
DEV_DATABASE_URL=postgresql+psycopg2://monblog_user:monMotDePasse@localhost:5432/monblog_dev
TEST_DATABASE_URL=postgresql+psycopg2://monblog_user:monMotDePasse@localhost:5432/monblog_test
DATABASE_URL=